body	{
	background: white;
	margin: 0 auto;
}
.panel-footer {
	background-color:white;
	text-align: center;
}
.panel-body {
	padding: 0;
}
footer  {
	background-color: white;
	padding-top: 20px;
}
.col-sm-2 {
	border-top:2px solid #DBDBDB;
	border-bottom: 2px solid #DBDBDB;
	padding-top: 10px;
	padding-bottom: 10px;
}
.col-xs-6 {
	padding: 10px;
}